.bar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;

  min-height: 50px;
  padding: 10px 0;

  background-color: #ffffff;
  background-color: pink;
  outline: 1px solid tomato;
}

.bar-bottom-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
